<div class="update-title">
    <h3><b>
        Update Password
    </b></h3>
</div>
<div class="update">
    <div class="update-content">
        <h1>Hello {{curUser.role}}, {{curUser.userID}} </h1>
        <p>{{message}}</p>
        <input type="text" class="update-password" [(ngModel)]="curUser.newPassword">
        <br>
        <button class="update-btn" (click)="updatePassword()"> Update password </button>
        <br>
        <button class="clear-btn" (click)="clear()"> clear </button>
    </div>
</div>