.update
{
    display: flex;
    justify-content: center;
    margin: 0% 2%;
    padding: 2% 0%;
    background-color: #E9F1FA;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.update-title
{
    margin-top: 1%;
    padding: 1% 2%;
}

.update-content
{
    text-align: center;
    width: 250px;
}


button{
    margin-top: 10px;
    width: 70%;
    border: none;
    background-color: white;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);

    
}


input
{
    width: 100%;
}

